*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;

}
.body{
    text-align: center;
    margin-top: 20px;
}
.header p{
    margin: auto;
    height: 50px;
    width: 100%;
    background-color: #A8E6CF;
    font-size: 45px;
    text-align: center;
}

section{
    margin: 40px;
}

h1{
    font-family: sans-serif;
    font-size: 35px;
}

a{
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */
    font-size: 20px;

}

a:hover{
    text-decoration: underline;
}